.dropzone-container {
  width: 100%;
  padding: 20px;
  text-align: center;

  .photo-alert {
    display: none;
  }

  .photo-alert-active {
    margin-bottom: 2rem;
  }

  .dropzone {
    padding: 20px;
    border: 2px dashed #66b3ff;
    cursor: pointer;
  }
  .img-element {
    position: relative;
    display: inline-block;
    margin: 20px;
    .img-preview {
      display: block;
      width: 150px;
      height: auto;
    }

    .cancel-icon {
      position: absolute;
      top: 5px;
      right: 5px;
      cursor: pointer;
      color: red;
    }
  }

  // update event dropzone
  .update-photos-buttons {
    text-transform: capitalize;
    width: 100%;
    & > * {
      width: 100%;
      margin: 0.5rem 0;
    }
  }
}

.MuiTabList-root {
  border: none !important;
}
.MuiTab-root {
  font-size: 18px !important;
  font-weight: 600 !important;
  padding: 0.8rem !important;
}
