.change-password {
  vertical-align: center;
  text-align: center;
  .change-password-button {
    font-size: 16px;
    width: 100%;
    .password-icon {
      font-size: 2.5rem !important;
      margin-right: 1rem;
    }
  }
}

.alert {
    color: red !important;
    font-size: 12px !important;
  }