@import url('../pages/Login/login.scss');
@import url('../pages/Register/register.scss');
@import url('../pages/Dashboard/dashboard.scss');

@import url('../layouts/Header/header.scss');
@import url('../layouts/Main/main.scss');

@import url('../components/Dropdown/dropdown.scss');
@import url('../components/Popup/create-event-popup.scss');
@import url('../components/Dropzone/dropzone.scss');

@import url('../pages/Dashboard/EventAnalyses/event-analyses.scss');
@import url('../pages/Dashboard/Home/home.scss');
@import url('../pages/Dashboard/Events/events.scss');
@import url('../pages/Dashboard/Profile/profile.scss');
@import url('../pages/Dashboard/UploadPhotos/upload-photos.scss');
@import url('../pages/NotMatch/no-match.scss');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Quicksand:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  min-width: 320px;
  font-family: 'Montserrat', sans-serif;
}

#root {
  height: 100%;
  user-select: none;
}