.img-field {
  text-align: center;
  h2 {
    padding: 3rem 0 0 0;
  }
  .img-item {
    margin: 0 1rem;
    img {
      user-select: none;
      margin: 32px;
      max-width: 100%;
      object-fit: cover;
      border-radius: 6px;
    }
  }
}
