.img-field {
  text-align: center;
  margin: 4rem 0;
  .img-item {
    margin: 0 1rem;
    img {
      max-width: 400px;
      max-height: 400px;
      user-select: none;
      margin: 32px;
      border-radius: 6px;
      object-fit: contain;
      cursor: pointer;
    }
  }
}

.photos-modal {
  display: flex;
  justify-content: flex-start;
  .photo-album-btn {
    left: 3rem;
  }
}

.modal-img-field {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 2rem;
  padding: 1rem;
  .img-item {
    margin: 0;
    width: calc((100% / 3) - 2rem);
    img {
      margin: 0;
      width: 100%;
      border-radius: 6px;
      user-select: none;
    }
  }
}
